

//COLORS
    //Primary
    $Pink: hsl(322, 100%, 66%);

    //Nuetral
    $Very-Pale-Cyan: hsl(193, 100%, 96%);
    $Very-Dark-Cyan: hsl(192, 100%, 9%);
    $Grayish-Blue: hsl(208, 11%, 55%);

//TYPOGRAPHY
    $Default-Font-Size: 1.8rem;

    $default-line-height: 1.5;

    $link-font: 1.5rem;
    
    $header-h3-font: 2.5rem;